
.banner {
  width: 90%;
  height: 111px;
  margin-left:5%;
  background-image: url('../assets/background.png');
  background-size: cover;
  border-radius: 10px;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;


}

.filterBanner
{
 background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  position:absolute;
  z-index:1;
  width: 90%;
  height: 111px;
  border-radius: 10px;
  margin:0;
}

.banner-content {
  text-align: start;
  color: white;
  font-size:  15px;
position:absolute;
  z-index:1;
}
@media (min-width: 721px) {
  .banner {
    height: 223px;
    font-size: 48px;
  }

  .filterBanner
{
  height: 223px;
}
}
