.cartes
{

    width: 90%;
    height: 255px;
    margin-left:5%;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    color:white;

}

.cartes h2
{

  position:absolute;
  z-index:1;
  display:flex;
  padding-left:10px;
  width: 80%;
  height: 245px;
  border-radius: 10px;
  margin:0;
  font-weight: 500;
  font-size: 18px;
  flex-direction: column;
  justify-content:flex-end;
}

.cartes img
{
  position:absolute;
  height:255px;
  z-index:0;
  border-radius: 10px;
  width: 90%;
  object-fit: cover;
}

.filter
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  position:absolute;
  z-index:1;
  width: 90%;
  height: 255px;
  border-radius: 10px;
  margin:0;
}

@media (min-width: 721px) {

  .cartes
{
    width: 25%;
    height: 340px;
flex-direction: row;
    margin-left:5%;
}

.cartes img
{
  height:340px;
  width: 25%;

}

.filter
{

  width: 25%;
  height: 340px;
}


.cartes h2
{
  width: 24%;
  height: 330px;
  font-weight: 500;

}

#cntCard
{
  width: 90%;
  margin-left:5%;
  display: flex;
  flex-wrap: wrap;
  gap:2%;

  margin-top:10px;
  padding-bottom:10px;
  border-radius: 25px;
background: #F6F6F6;
}


}
