.Desc h2
{
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.964px;
    width:90%;
    background-color:#ff6060;
    border-radius: 5px;
    margin:auto;
    margin-top:10px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    padding-top:5px;
    padding-bottom:5px;
}

.Desc p
{
    background:#F6F6F6;
    margin:auto;
    width:90%;
    color:#ff6060;
}

.Desc img
{
    width:14px;
    height:14px;
    padding-right:5px;
}

@media (min-width: 721px) {
.Desc h2
{
    width:80%;
}

.Desc p
{
    width:80%;
}

.Desc
{
 width:100%;

}


}
