@media (min-width: 721px) {


.titreCont
{
    display:flex;
    flex-direction:column;
    width:50%;
    margin-left:3%;
    margin-top:10px;
}
.hostCont
{
    display:flex;
    flex-direction:column-reverse;
    width:41%;
    align-items:flex-end;
    margin-top:10px;
}

.topDesc
{
    display:flex;
}

.descCont
{
    width:90%;
    margin:auto;
    display:flex;
    align-content:space-between;
}
.descCont .Desc h2
{
    width:95%;
}

.descCont .Desc p
{
    width:95%;
}
}
