#ttlError
{
  color:#FF6060;
  display:flex;
  flex-direction:column;
  gap:75px;
  align-items:center;
}

#nerror
{
font-size: 96px;
font-weight: 700;
}

#error
{
font-size: 18px;
font-weight: 500;
text-align:center;
}

#link
{
    text-decoration-line: underline;
    font-size: 14px;
}

@media (min-width: 721px) {


#nerror
{
font-size: 288px;

}

#error
{
font-size: 36px;

}

}
