.star
{
 width:25%;
 margin:auto;
}

#contStar
{
    margin:auto;
    width:88%;
}
@media (min-width: 721px) {
    #contStar
    {
          width:196px;
          height:36px;
          margin:0px;
    }
    .star
    {
        width:100%;
    }
}
