#divCar
  width: 88%
  height: 255px
  margin: auto

.imgCar
  width: 88%
  height: 255px
  border-radius: 10px
  position: absolute
  z-index: 0
  object-fit: cover

.carousel-navigation
  position: absolute
  z-index: 1
  display: flex
  justify-content: space-between
  width: 88%
  top: 203px

.image-counter
  position: absolute
  margin-top: 107px
  margin-left: 50%
  color: white
  font-size: 18px

@media (min-width: 721px)
  #divCar, .imgCar
    height: 450px

  .image-counter
    margin-top: 150px

  .carousel-navigation
    top: 340px
