#host
  display: flex
  width: 88%
  justify-content: flex-end
  margin: auto
  color: #ff6060

  img
    border-radius: 100%
    width: 64px

#name
  padding-top: 20px
  width: 70px
  padding-left: 287px

@media (min-width: 721px)
  #host
    margin: 0px
