@charset "UTF-8";
.banner {
  width: 90%;
  height: 111px;
  margin-left: 5%;
  background-image: url("../assets/background.png");
  background-size: cover;
  border-radius: 10px;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBanner {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 111px;
  border-radius: 10px;
  margin: 0;
}

.banner-content {
  text-align: start;
  color: white;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

@media (min-width: 721px) {
  .banner {
    height: 223px;
    font-size: 48px;
  }
  .filterBanner {
    height: 223px;
  }
}
#divCar {
  width: 88%;
  height: 255px;
  margin: auto;
}

.imgCar {
  width: 88%;
  height: 255px;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.carousel-navigation {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 88%;
  top: 203px;
}

.image-counter {
  position: absolute;
  margin-top: 107px;
  margin-left: 50%;
  color: white;
  font-size: 18px;
}

@media (min-width: 721px) {
  #divCar, .imgCar {
    height: 450px;
  }
  .image-counter {
    margin-top: 150px;
  }
  .carousel-navigation {
    top: 340px;
  }
}
.cartes {
  width: 90%;
  height: 255px;
  margin-left: 5%;
  border-radius: 10px;
  display: flex;
  margin-top: 20px;
  color: white;
}
.cartes h2 {
  position: absolute;
  z-index: 1;
  display: flex;
  padding-left: 10px;
  width: 80%;
  height: 245px;
  border-radius: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  flex-direction: column;
  justify-content: flex-end;
}
.cartes img {
  position: absolute;
  height: 255px;
  z-index: 0;
  border-radius: 10px;
  width: 90%;
  object-fit: cover;
}

.filter {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 255px;
  border-radius: 10px;
  margin: 0;
}

@media (min-width: 721px) {
  .cartes {
    width: 25%;
    height: 340px;
    flex-direction: row;
    margin-left: 5%;
  }
  .cartes img {
    height: 340px;
    width: 25%;
  }
  .filter {
    width: 25%;
    height: 340px;
  }
  .cartes h2 {
    width: 24%;
    height: 330px;
    font-weight: 500;
  }
  #cntCard {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background: #F6F6F6;
  }
}
.carteImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Desc h2 {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.964px;
  width: 90%;
  background-color: #ff6060;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.Desc p {
  background: #F6F6F6;
  margin: auto;
  width: 90%;
  color: #ff6060;
}
.Desc img {
  width: 14px;
  height: 14px;
  padding-right: 5px;
}

@media (min-width: 721px) {
  .Desc {
    width: 100%;
  }
  .Desc h2, .Desc p {
    width: 80%;
  }
}
#location {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.964px;
  margin: auto;
  width: 88%;
}

@media (min-width: 721px) {
  .titreCont {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 3%;
    margin-top: 10px;
  }
  .hostCont {
    display: flex;
    flex-direction: column-reverse;
    width: 41%;
    align-items: flex-end;
    margin-top: 10px;
  }
  .topDesc {
    display: flex;
  }
  .descCont {
    width: 90%;
    margin: auto;
    display: flex;
    align-content: space-between;
  }
  .descCont .Desc h2, .descCont .Desc p {
    width: 95%;
  }
}
footer {
  color: white;
  background: black;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.pdpsvg {
  width: 100px;
  height: 100px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat-Regular.otf") format("truetype");
  /* Ajoutez ici d'autres formats de police si nécessaire */
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 5% 20px 5%;
}
nav img {
  width: 145px;
}

ul {
  list-style: none;
  /* Supprime les puces devant les éléments li */
  padding: 0;
  display: flex;
}

li {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

#accueil {
  text-decoration: underline;
}

@media (min-width: 721px) {
  nav img {
    width: 210px;
  }
  a {
    font-size: 24px;
  }
}
.tags {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  /* 14.26px */
  display: flex;
  gap: 2%;
  width: 88%;
  margin: auto;
}

.tag {
  width: 84px;
  height: 18px;
  border-radius: 6px;
  background-color: #FF6060;
  padding-top: 2px;
}

#ttlError {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
}

#nerror {
  font-size: 96px;
  font-weight: 700;
}

#error {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#link {
  text-decoration-line: underline;
  font-size: 14px;
}

@media (min-width: 721px) {
  #nerror {
    font-size: 288px;
  }
  #error {
    font-size: 36px;
  }
}
.star {
  width: 25%;
  margin: auto;
}

#contStar {
  margin: auto;
  width: 88%;
}

@media (min-width: 721px) {
  #contStar {
    width: 196px;
    height: 36px;
    margin: 0px;
  }
  .star {
    width: 100%;
  }
}
h3 {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.668px;
  margin: auto;
  width: 88%;
}

#host {
  display: flex;
  width: 88%;
  justify-content: flex-end;
  margin: auto;
  color: #ff6060;
}
#host img {
  border-radius: 100%;
  width: 64px;
}

#name {
  padding-top: 20px;
  width: 70px;
  padding-left: 287px;
}

@media (min-width: 721px) {
  #host {
    margin: 0px;
  }
}

/*# sourceMappingURL=Main.css.map */
