@font-face
  font-family: 'Montserrat'
  src: url('../Fonts/Montserrat-Regular.otf') format("truetype")

  /* Ajoutez ici d'autres formats de police si nécessaire

nav
  display: flex
  justify-content: space-between
  padding: 20px 5% 20px 5%

  img
    width: 145px

ul
  list-style: none

  /* Supprime les puces devant les éléments li
  padding: 0
  display: flex

li
  display: flex
  margin-right: 20px
  justify-content: space-between

a
  text-decoration: none
  color: #FF6060
  font-family: Montserrat
  font-size: 12px
  font-style: normal
  font-weight: 500

#accueil
  text-decoration: underline

@media (min-width: 721px)
  nav img
    width: 210px

  a
    font-size: 24px
