.Desc h2
  color: white
  font-family: Montserrat
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: 19.964px

.ctnu
  background: #F6F6F6
  margin: auto
  width: 90%
  color: #ff6060
  padding-top: 20px
  padding-bottom: 20px
  border-radius: 5px
  opacity: 0
  animation: fadeIn 1s forwards

  p
    margin: auto

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

.titreimg
  img
    width: 14px
    height: 14px
    transform: rotate(0deg)
    transition: all 0.2s ease-in-out

  &.is-collapsed img
    transform: rotate(180deg)

  display: flex
  justify-content: space-between
  width: 90%
  padding-left: 5px
  padding-right: 5px
  background-color: #ff6060
  border-radius: 5px
  margin: auto
  margin-top: 10px
  align-items: center

@media (min-width: 721px)
  .Desc
    width: 100%

    h2, p
      width: 80%

#location
  color: #FF6060
  font-family: Montserrat
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: 19.964px
  margin: auto
  width: 88%

@media (min-width: 721px)
  .titreCont
    display: flex
    flex-direction: column
    width: 50%
    margin-left: 3%
    margin-top: 10px

  .hostCont
    display: flex
    flex-direction: column-reverse
    width: 41%
    align-items: flex-end
    margin-top: 10px

  .topDesc
    display: flex

  .descCont
    width: 90%
    margin: auto
    display: flex
    align-content: space-between

    .Desc
      h2, p
        width: 90%
