footer
  color: white
  background: black
  width: 100%
  height: 209px
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 20px
  text-align: center

.pdpsvg
  width: 100px
  height: 100px
