.tags
  color: white
  text-align: center
  font-family: Montserrat
  font-size: 10px
  font-style: normal
  font-weight: 500
  line-height: 142.6%

  /* 14.26px
  display: flex
  gap: 2%
  width: 88%
  margin: auto

.tag
  width: 84px
  height: 18px
  border-radius: 6px
  background-color: #FF6060
  padding-top: 2px
